.category.archetype-regular,
_portal {
  background: radial-gradient(50vw 45vh at 50vw 50vh, #1F314C 0%, #1A2233 95.28%), url($bgPattern) top/900px repeat;
  background-blend-mode: overlay, normal;

  .topic-post>article {
    border: none;
  }

  #main-outlet-wrapper {
    backdrop-filter: none;
    padding-inline: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url($orbitalsBg) center 10px/contain no-repeat;
    position: relative;
    z-index: 1;

    .sidebar-wrapper {
      display: none;
    }

    #main-outlet {
      width: 100%;
      max-width: 960px;
      padding-top: 4.4rem;
      padding-bottom: 8rem;

    }

    .container.posts {
      display: flex;
      justify-content: center;
    }

    .container.posts>.row {
      min-width: 100%;
    }

    .topic-body .cooked {
      padding: 0;
    }

    .topic-owner {
      .embedded-posts.bottom {
        max-width: none;
        .topic-body {
          margin-left: 75px;

          blockquote, ul, p {
            max-width: none;
          }
        }
      }

      .lightbox-wrapper *,
      .lightbox-wrapper {
        width: 100%;
      }

      .topic-avatar {
        display: none;
      }

      .topic-body {
        border: none;

        .contents {
          img, video {
            object-fit: cover;
          }

          p {
            color: #FFF;
            font-family: "XXII Centar Regular";
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 133.333%;
            letter-spacing: 0.72px;
          }
        }
      }

      .topic-body .contents {
        blockquote, p, ul {
          max-width: 720px;
          margin-inline: auto;

        }
      }

      .topic-meta-data {
        padding: 0;
        margin-bottom: 15px;

        .names {
          display: none;
        }

        .post-infos span {
          color: #E6E6E6;
          font-family: "XXII Centar Regular";
          font-size: 12px;
          font-style: normal;
          font-weight: 300;
          line-height: 18px; /* 150% */
        }
      }
    }

    .topic-body {
      width: 100%;
    }

    #topic-title .fancy-title {
      color: #F9DF94;
      text-align: center;
      font-family: "Albertusnova Thin";
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 112%;
      letter-spacing: 0.75px;
      text-transform: uppercase;
      position: relative;
      padding-left: 46px;
      box-sizing: border-box;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        height: 36px;
        width: 36px;
        background: url($iconTitle) center/36px repeat
      }
    }

    #topic-title .badge-category__wrapper .badge-category__name {
      color: #B19F63;
      font-family: "Albertusnova Thin";
      font-size: 22px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }

    #topic-title .badge-category__wrapper .badge-category:before {
      content: none;
    }

    #topic-title .topic-category {
      margin-bottom: 20px;
      position: relative;
      padding-left: 34px;
      box-sizing: border-box;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        height: 24px;
        width: 24px;
        background: url($iconCategory) center/24px repeat
      }
    }

    .topic-map {
      display: none !important;
    }

    .topic-body .topic-meta-data {
      padding-left: 0;
      margin-left: 0;
    }

    .topic-post:not(.topic-owner) {
      border-bottom: 1px solid rgba(20, 63, 99, 0.00);

      .onscreen-post .row {
        gap: 20px;
      }

      .topic-body {
        border: none;
      }
    }
  }

  .small-action .small-action-desc {
    width: 100%;
  }

  .custom-comment-control {
    box-sizing: border-box;
    padding: 16px 16px 16px 8px;
    border-top: 2px solid #776030;
    background: radial-gradient(62.11% 100% at 50% 0%, #121B2E 0%, #0B1321 90.72%);
    box-shadow: 0px -2px 10px 0px rgba(25, 38, 60, 0.15);
  }

  .custom-comment-control-title {
    color: #FFF;
    font-family: "XXII Centar Regular";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 108.333% */
    margin-bottom: 16px;
    display: inline-flex;
    align-items: baseline;
    gap: 8px;

    span {
      opacity: 0.75;
      font-size: 12px;
      line-height: normal;
    }
  }

  #reply-control {
    position: relative;
    box-shadow: none;
    border: none;
    background: rgba(0, 0, 0, 0.24);
  }

  #reply-control.open {
    border: 1px solid #1E2533;
  }

  &.has-sidebar-page #reply-control:not(.fullscreen).hide-preview {
    max-width: none;
    transform: none;
  }

  .onlyMainPost .post-stream .topic-post:not(.topic-owner),
  .onlyMainPost .post-stream .gap,
  .onlyMainPost .post-stream .small-action {
    display: none;
  }

  .notMainPost .post-stream .topic-post.topic-owner {
    display: none;
  }
}