.category.archetype-regular,
_portal {
  background: radial-gradient(50vw 45vh at 50vw 50vh, #1F314C 0%, #1A2233 95.28%), url($bgPattern) top/900px repeat;
  background-blend-mode: overlay, normal;

  .topic-post > article {
    border: none;
  }

  #main-outlet-wrapper {
    backdrop-filter: none;
    padding-inline: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url($orbitalsBg) center 10px/contain no-repeat;
    position: relative;
    z-index: 1;

    .sidebar-wrapper {
      display: none;
    }

    #main-outlet {
      width: 100%;
      max-width: 960px;
      padding-top: 4.4rem;
      padding-bottom: 8rem;

    }

    .container.posts {
      display: flex;
      justify-content: center;
    }

    .container.posts > .row {
      min-width: 100%;
    }

    .topic-body .cooked {
      padding: 0;
    }

    .topic-owner {
      .embedded-posts.bottom {
        max-width: none;

        .topic-body {
          margin-left: 75px;

          blockquote, ul, p {
            max-width: none;
          }
        }
      }

      .lightbox-wrapper *,
      .lightbox-wrapper {
        width: 100%;
      }

      .topic-avatar {
        display: none;
      }

      .topic-body {
        border: none;

        .contents {
          img, video {
            object-fit: cover;
          }

          p {
            color: #FFF;
            font-family: "XXII Centar Regular";
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 133.333%;
            letter-spacing: 0.72px;
          }
        }
      }

      .topic-body .contents {
        blockquote, p, ul, h1, h2, h3, h4, h5, h6 {
          max-width: 720px;
          margin-inline: auto;

        }

        h1, h2, h3, h4, h5, h6 {
          color: #B19F63;
          font-family: "Albertusnova Thin";
        }
      }

      .topic-meta-data {
        padding: 0;
        margin-bottom: 15px;

        .names {
          display: none;
        }

        .post-infos span {
          color: #E6E6E6;
          font-family: "XXII Centar Regular";
          font-size: 12px;
          font-style: normal;
          font-weight: 300;
          line-height: 18px; /* 150% */
        }
      }
    }

    .topic-body {
      width: 100%;
    }

    #topic-title .fancy-title {
      color: #F9DF94;
      text-align: center;
      font-family: "Albertusnova Thin";
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 112%;
      letter-spacing: 0.75px;
      text-transform: uppercase;
      position: relative;
      padding-left: 46px;
      box-sizing: border-box;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        height: 36px;
        width: 36px;
        background: url($iconTitle) center/36px repeat
      }
    }

    #topic-title .topic-category {
      margin-bottom: 20px;
      position: relative;
      padding-left: 34px;
      box-sizing: border-box;

      span {
        color: #B19F63;
        font-family: "Albertusnova Thin";
        font-size: 22px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        height: 24px;
        width: 24px;
        background: url($iconCategory) center/24px repeat
      }
    }

    .topic-map {
      display: none !important;
    }

    .topic-body .topic-meta-data {
      padding-left: 0;
      margin-left: 0;
    }

    .topic-post:not(.topic-owner) {
      position: relative;
      border-bottom: 1px solid rgba(20, 63, 99, 0.00);

      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        display: block;
        background: linear-gradient(90deg, rgba(20, 63, 99, 0) 0%, #143F63 10.02%, #143F63 90.12%, rgba(20, 63, 99, 0) 100%);
      }

      .onscreen-post .row {
        gap: 20px;
      }

      .topic-body {
        border: none;
      }
    }
  }

  .topic-avatar {
    border-top: none;
  }

  .small-action .small-action-desc {
    width: 100%;
  }

  .custom-comment-control-title {
    color: #FFF;
    font-family: "XXII Centar Regular";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    //line-height: 26px; /* 108.333% */
    margin-bottom: 16px;
    display: inline-flex;
    align-items: baseline;
    gap: 8px;
    line-height: normal;
    opacity: 0.75;

    span {
      opacity: 0.75;
      font-size: 12px;
      line-height: normal;
    }
  }

  #reply-control {
    box-shadow: none;
    border: none;
    box-sizing: border-box;
    background: radial-gradient(62.11% 100% at 50% 0%, #121B2E 0%, #0B1321 90.72%);

    .select-kit.single-select.dropdown-select-box {
      display: none;
    }
  }

  #reply-control.open {
    padding: 8px 16px;
    border-top: 2px solid #776030;
    box-shadow: 0px -2px 10px 0px rgba(25, 38, 60, 0.15);
  }

  #reply-control .reply-area {
    padding: 0;
  }

  .d-editor-button-bar .btn.no-text.btn-icon.link,
  .d-editor-button-bar .btn.no-text.btn-icon.blockquote,
  .d-editor-button-bar .btn.no-text.btn-icon.code,
  .d-editor-button-bar .btn.no-text.btn-icon.upload,
  .d-editor-button-bar .btn.no-text.btn-icon.bullet,
  .d-editor-button-bar .btn.no-text.btn-icon.list,
  .d-editor-button-bar .btn.no-text.btn-icon.emoji,
  .d-editor-button-bar .btn.no-text.btn-icon.local-dates {
    display: none;
  }

  .d-editor-textarea-wrapper {
    box-shadow: none;
    box-sizing: border-box;
    border: 1px solid #1E2533;
    background: rgba(0, 0, 0, 0.24);
  }

  &.has-sidebar-page #reply-control:not(.fullscreen).hide-preview {
    margin: 0;
    transform: translateX(-50%);
    left: 50%;
  }

  .post-notice {
    margin-inline: auto;
    margin-top: 8px;
  }

  .post-notice.old {
    border-top: none;
  }

  #reply-control .save-or-cancel {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin-right: 0;
    gap: 8px;

    button {
      position: relative;
      border-top: 1px solid #F9DF94;
      border-bottom: 1px solid #8F6616;
      background: linear-gradient(180deg, rgba(201, 188, 146, 0.15) 0%, rgba(183, 149, 77, 0.15) 100%);
      backdrop-filter: blur(1.5px);
      margin-inline: 8px;
      padding-inline: 8px;
      height: 40px;
      border-inline: none;
      border-radius: 0;

      svg {
        display: none;
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 8px;
        height: 40px;
        background: url($rightButtonReply) center/auto no-repeat;
        top: -1px;
        bottom: -1px;
      }

      &:before {
        left: -8px;
      }

      &:after {
        right: -8px;
        transform: scale(-1, 1)
      }
    }
  }
}