[data-wrap="blue"] {
  color: #1EA9FF;
}

[data-wrap="flexRow"] {
  display: flex;
  gap: 20px;

  p {
    margin: 0 0 30px;
  }

  & > * {
    flex: 1;
  }
}

[data-wrap="imgH"] {
  .lightbox-wrapper, .lightbox-wrapper * {
    width: 100%;
  }

  img {
    aspect-ratio: 4 / 1 !important;
    object-fit: cover;
    object-position: center;

    @media screen and (max-width: 767px) {
      aspect-ratio: 2 / 1;
    }
  }
}

[data-wrap="tooltipWrap"] {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-inline: auto;
  gap: 5px;
  max-width: 634px;
}

[data-wrap="tooltipItem"] {
  aspect-ratio: 1 / 1;
  width: calc(100% / 5 - 5px * 4 / 5);

  img {
    aspect-ratio: 1 / 1 !important;
  }
}

[data-wrap="tooltipItem-2"] {
  aspect-ratio: 2 / 1;
  width: calc(100% / 5 * 2 - 5px * 3 / 4);

  img {
    aspect-ratio: 2 / 1 !important;
  }
}

[data-wrap="tooltipItem"],
[data-wrap="tooltipItem-2"] {
  position: relative;

  & > .lightbox-wrapper, & > .lightbox-wrapper * {
    line-height: 0;
  }

  .meta {
    display: none;
  }

  &:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 20px;
    width: 68px;
    height: 30px;
    background: url($tooltipArrow) no-repeat center/contain;
    z-index: 11;
    opacity: 0;
  }

  &:hover [data-wrap="tooltipHover"],
  &:hover:before {
    opacity: 1;
  }
}

[data-wrap="tooltipHover"] {
  pointer-events: none;
  position: absolute;
  transform: translateY(-100%);
  top: -12px;
  left: -18px;
  opacity: 0;
  width: 250px;
  height: 250px;
  z-index: 10;

  box-sizing: border-box;
  padding: 8px;

  img {
    width: 80px !important;
    height: 80px !important;
    object-fit: contain !important;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: polygon(6px 0, calc(100% - 6px) 0, 100% 6px, 100% calc(100% - 6px), calc(100% - 6px) 100%, 6px 100%, 0 calc(100% - 6px), 0 6px);
  }

  &:before {
    box-sizing: border-box;
    margin: 1px;
    background: #0B1D2D;
    z-index: -1;
  }

  &:after {
    background: #847445;
    z-index: -2;
  }
}