.category.archetype-regular #main-outlet-wrapper #post_1 .topic-body .contents,
.embedded.category.archetype-regular #main-outlet-wrapper #post_1 .topic-body .contents,
.embedded.category.archetype-regular #reply-control .d-editor-container .d-editor-preview {
  [data-wrap="blue"] {
    color: #1EA9FF;
  }

  [data-wrap="flexRow"] {
    display: flex;
    gap: 20px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    p {
      margin: 0 0 30px;
    }

    & > * {
      flex: 1;
    }
  }

  [data-wrap="imgH"] {
    .lightbox-wrapper, .lightbox-wrapper * {
      width: 100%;
    }

    img {
      aspect-ratio: 4 / 1 !important;
      object-fit: cover;
      object-position: center;

      @media screen and (max-width: 767px) {
        aspect-ratio: 2 / 1 !important;
      }
    }
  }

  [data-wrap="tooltipWrap"] {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-inline: auto;
    gap: 5px;
    max-width: 634px;
  }

  [data-wrap="article"] [data-wrap="tooltipWrap"] {
    max-width: 1000px;
    gap: 26px;

    [data-wrap="tooltipItem"] {
      width: calc(100% / 5 - 26px * 4 / 5);
    }

    [data-wrap="tooltipItem-2"] {
      width: calc(100% / 5 * 2 - 26px * 3 / 4);
    }

    @media screen and (max-width: 767px) {
      gap: 5px;

      [data-wrap="tooltipItem"] {
        width: calc(100% / 5 - 5px * 4 / 5);
      }

      [data-wrap="tooltipItem-2"] {
        width: calc(100% / 5 * 2 - 5px * 3 / 4);
      }
    }
  }

  [data-wrap="tooltipItem"] {
    aspect-ratio: 1 / 1;
    width: calc(100% / 5 - 5px * 4 / 5);

    img {
      aspect-ratio: 1 / 1 !important;
    }

    & > .lightbox-wrapper, & > .lightbox-wrapper * {
      aspect-ratio: 1 / 1 ;
    }
  }

  [data-wrap="tooltipItem-2"] {
    aspect-ratio: 2 / 1;
    width: calc(100% / 5 * 2 - 5px * 3 / 4);

    img {
      aspect-ratio: 2 / 1 !important;
    }

    & > .lightbox-wrapper, & > .lightbox-wrapper * {
      aspect-ratio: 2 / 1 ;
    }
  }

  [data-wrap="tooltipItem"],
  [data-wrap="tooltipItem-2"] {
    position: relative;

    & > .lightbox-wrapper, & > .lightbox-wrapper * {
      line-height: normal;
    }

    & > .lightbox-wrapper {
      max-height: fit-content;
    }

    .meta {
      display: none;
    }

    &:hover [data-wrap="tooltipHover"] {
      opacity: 1;
      transition: opacity .3s ease-in-out;
    }
  }

  [data-wrap="tooltipHover"] {
    pointer-events: none;
    position: absolute;
    transform: translateY(-100%);
    top: -12px;
    left: -18px;
    opacity: 0;
    min-width: 340px;
    max-width: 415px;
    width: auto;
    z-index: 10;
    box-sizing: border-box;
    padding: 8px 8px 4px;

    transition: opacity .3s ease-in-out;

    @media screen and (max-width: 767px) {
      display: none;
    }

    [data-wrap="flexRow"] {
      flex-direction: row;
      gap: 4px;

      @media screen and (max-width: 767px) {
        flex-direction: row;
      }

      [data-wrap="tooltipHeader"] {
        p img {
          aspect-ratio: 11 / 12 !important;
          height: 11px;
          width: 12px;
        }
      }

      & > * {
        flex: none;
      }

      p {
        margin: 0;
      }

      [data-wrap="tooltipHeader"] {
        flex: auto;
      }

      .lightbox-wrapper, .lightbox-wrapper * {
        width: auto !important;

        img {
          width: 80px;
          height: 80px;
          object-fit: contain;
          aspect-ratio: 1 / 1 !important;
        }
      }

      img {
        width: 80px;
        height: 80px;
        object-fit: contain;
        aspect-ratio: 1 / 1 !important;
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
    }

    &:before {
      box-sizing: border-box;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      border-image: url($articleTooltip) 10 fill / 10px;
      border-style: solid;
      clip-path: polygon(6px 0, calc(100% - 6px) 0, 100% 6px, 100% calc(100% - 4px), calc(100% - 7px) 101%, 5px 101%, 0 calc(100% - 5px), 0 6px);
      background: #0B1D2D;
    }

    &:after {
      z-index: 0;
      left: 20px;
      bottom: -22px;
      width: 68px;
      height: 30px;
      background: url($tooltipArrow) no-repeat top/contain;
    }
  }

  [data-wrap="tooltipHeader"] {
    border-block: 1px solid #24435A;
    height: 80px;
    box-sizing: border-box;
    padding-inline: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-image: url($articleTooltipName) 4 / 4px !important;
    border-style: solid;

    p {
      color: #FFE9AE;
      text-align: center;
      font-family: "Albertusnova Thin", sans-serif;
      font-size: 19px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.19px;
      margin: 0;
      width: 100%;

      br {
        display: none;
      }

      &:last-of-type {
        color: #B8A672;
        text-align: center;
        font-family: "Albertusnova Thin", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.12px;
      }
    }

    [data-wrap="separator"] {
      background: url($separator) no-repeat center/contain;
    }
  }

  [data-wrap="tooltipContent"] {
    text-align: center;
    padding: 10px 0;

    p {
      color: #F9E8B9;
      font-family: "Albertusnova Thin", sans-serif;
      font-size: 13px;
      font-style: normal;
      font-weight: 300;
      line-height: 18px; /* 138.462% */
      letter-spacing: 0.91px;
      margin: 0;
    }
  }

  [data-wrap="tooltipLeft"] [data-wrap="tooltipHover"] {
    left: -130px;

    &:after {
      left: 120px;
    }
  }

  .d-editor-preview .image-wrapper {
    --resizer-height: none;
  }

  [data-wrap="rarity"] {
    p {
      position: relative;
      display: flex;
      padding-inline: 20px 4px;
      padding-block: 4px;
      box-sizing: border-box;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      width: 100%;
      background: linear-gradient(90deg, rgba(137, 142, 162, 0) 0%, rgba(137, 142, 162, 0.6375) 15%, rgba(137, 142, 162, 0.85) 50%, rgba(137, 142, 162, 0.6375) 85%, rgba(137, 142, 162, 0) 100%);

      span {
        color: #FFF;
        font-family: "Albertusnova Thin", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1;

        &:last-child {
          text-transform: uppercase;
        }
      }

      img, svg {
        display: none;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 18px;
        height: 18px;
        display: inline-block;
        background: url($rarity) no-repeat center/contain;
        margin-bottom: -2px;
      }
    }

    [data-wrap="uncommon"] p {
      background: linear-gradient(90deg, rgba(23, 67, 36, 0) 0%, rgba(23, 67, 36, 0.75) 15%, #174324 50%, rgba(23, 67, 36, 0.75) 85%, rgba(23, 67, 36, 0) 100%);
    }

    [data-wrap="rare"] p {
      background: linear-gradient(90deg, rgba(0, 93, 124, 0) 0%, rgba(0, 93, 124, 0.6375) 15%, rgba(0, 93, 124, 0.85) 50%, rgba(0, 93, 124, 0.6375) 85%, rgba(0, 93, 124, 0) 100%);
    }

    [data-wrap="epic"] p {
      background: linear-gradient(90deg, rgba(75, 47, 80, 0) 0%, rgba(75, 47, 80, 0.75) 15%, #4B2F50 50%, rgba(75, 47, 80, 0.75) 85%, rgba(75, 47, 80, 0) 100%);
    }

    [data-wrap="legendary"] p {
      background: linear-gradient(90deg, rgba(84, 50, 26, 0) 0%, rgba(84, 50, 26, 0.75) 15%, #54321A 50%, rgba(84, 50, 26, 0.75) 85%, rgba(84, 50, 26, 0) 100%);
    }

    [data-wrap="divine"] p {
      background: linear-gradient(90deg, rgba(179, 51, 76, 0) 0%, rgba(179, 51, 76, 0.6375) 15%, rgba(179, 51, 76, 0.85) 50%, rgba(179, 51, 76, 0.6375) 85%, rgba(179, 51, 76, 0) 100%);
    }

    [data-wrap="mythic"] p {
      background: linear-gradient(90deg, rgba(172, 139, 57, 0) 0%, rgba(172, 139, 57, 0.525) 15%, rgba(172, 139, 57, 0.7) 50%, rgba(172, 139, 57, 0.525) 85%, rgba(172, 139, 57, 0) 100%);
    }
  }

  [data-wrap="separator"] {
    display: block;
    width: 100%;
    height: 14px;
    background: url($separatorBig) no-repeat center/contain;
  }

  [data-wrap="linksContent"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    box-sizing: border-box;
    padding: 10px 20px;

    br {
      display: none;
    }

    p {
      margin: 0;
    }

    span {
      color: #F9DF94;
      text-align: center;
      font-family: "Albertusnova Thin", sans-serif;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: 30px; /* 115.385% */
      letter-spacing: 1.04px;
    }
  }

  [data-wrap="linksContentWrap"] p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    a {
      color: #1EA9FF;
      text-align: center;
      font-family: "XXII Centar Regular", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 120% */
      letter-spacing: 0.8px;
    }
  }

  [data-wrap="centerText"] {
    text-align: center;
  }

  [data-wrap="rightText"] {
    text-align: right;
  }

  a[data-clicks]::after {
    content: none;
  }
}
