[data-wrap="blue"] {
  color: #1EA9FF;
}

[data-wrap="flexRow"] {
  display: flex;
  gap: 20px;

  p {
    margin: 0 0 30px;
  }

  &>* {
    flex: 1;
  }
}

[data-wrap="imgH"] {
  .lightbox-wrapper, .lightbox-wrapper * {
    width: 100%;
  }

  img {
    aspect-ratio: 4 / 1 !important;
    object-fit: cover;
    object-position: center;

    @media screen and (max-width: 767px) {
      aspect-ratio: 2 / 1;
    }
  }
}

[data-wrap="tooltipWrap"] {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
}

[data-wrap="tooltipItem"] {
  aspect-ratio: 1 / 1;
  width: calc(100%/5 - 5px*4/5);
}

[data-wrap="tooltipItem-2"] {
  aspect-ratio: 2 / 1;
  width: calc(100%/5 * 2 - 5px*3/4);
}

[data-wrap="tooltipItem"],
[data-wrap="tooltipItem-2"] {
  position: relative;
  background: #cccccc;

  &>.lightbox-wrapper, &>.lightbox-wrapper * {
    line-height: 0;
  }

  .meta {
    display: none;
  }

  &:hover [data-wrap="tooltipHover"] {
    opacity: 1;
  }
}

[data-wrap="tooltipHover"] {
  position: absolute;
  transform: translateY(-100%);
  top: -12px;
  left: -18px;
  opacity: 0;
  width: 250px;
  height: 250px;
  border-inline: 1px solid #847445;
  background: #0B1D2D;
}